#spring:
#  config:
#    activate:
#      on-profile: cloud
#  datasource:
#    url: jdbc:postgresql://castor.db.elephantsql.com/jqnqjfrd
#    username: jqnqjfrd
#    password: dmqWt7Gr8K_ssKyuDSoRuRVy2uRx7cAU
#    driver-class-name: org.postgresql.Driver
#  jpa:
#    properties:
#      hibernate:
#        dialect: org.hibernate.dialect.PostgreSQLDialect
#    hibernate:
#      ddl-auto: update
#links:
#  cats: "https://api.thecatapi.com/v1/breeds"
#  countries: "https://restcountries.com/v3.1/all"
#  #    name: "https://restcountries.com/v3.1/name/"
#  cities: "https://restcountries.com/v3.1/capital/{capital}"
#  persons: "https://gorest.co.in/public/v1/users"
#  cars: "https://the-vehicles-api.herokuapp.com/brands/"
#MAPS_API_KEY: ""

spring:
  datasource:
    url: jdbc:postgresql://castor.db.elephantsql.com/jqnqjfrd
    username: jqnqjfrd
    password: ${ELEPH_P_PASS}
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
links:
  cats: "https://api.thecatapi.com/v1/breeds"
  countries: "https://restcountries.com/v3.1/all"
  #    name: "https://restcountries.com/v3.1/name/"
  cities: "https://restcountries.com/v3.1/capital/{capital}"
  persons: "https://gorest.co.in/public/v1/users"
  cars: "https://the-vehicles-api.herokuapp.com/brands/"
MAPS_API_KEY: ${GMAPS_KEY}